<div class="row">
    <div class="col-sm-12">
        <%= form_tag "/" do %>
            <%= label_tag(:username, "BGG Username:") %>
            <%= text_field_tag(:username, @username) %>
            <%= submit_tag("Look up ratings") %>
        <% end %>
    </div>
</div>
