<h2>Games by Rating</h2>
    <div style="font-size: small;">
        <% @ratings.each do |i, games| %>
        <% if games.length > 0 %>
            <p>
                <%= i %>: <%= games.map{|name| @links[name]}.join(", ").html_safe %>
            </p>
        <% end %>
    <% end %>
</div>
