<% if @deviations_sorted.length > 10 %>
    <div class="col-sm-12">
        <h3>Outliers</h3>
        <h4>Undervalued</h4>
        <p>These are games that <%= @username %> rated lower than bgg.</p>
        <table class="table">
        <thead>
            <tr><th>Name</th><th><%= @username %></th><th>BGG</th><th>Difference</th></tr>
        </thead>
        <tbody>
            <% @deviations_sorted.slice(0, 10).each do |pair| %>
                <% name = pair[0] %>
                <% user = @game_ratings[name] %>
                <% bgg = @bgg_ratings[name] %>
                <% difference = pair[1] %>
                <tr>
                    <td><%= @links[name].html_safe %></td>
                    <td><%= number_with_precision(user, precision: 1) %></td>
                    <td><%= number_with_precision(bgg, precision: 1) %></td>
                    <td><%= number_with_precision(difference, precision: 3) %></td>
                </tr>
            <% end %>
        </tbody>
        </table>

        <h4>Overvalued</h4>
        <p>These are games that <%= @username %> rated higher than bgg.</p>
        <table class="table">
        <thead>
            <tr><th>Name</th><th><%= @username %></th><th>BGG</th><th>Difference</th></tr>
        </thead>
        <tbody>
            <% @deviations_sorted.slice(-10, 10).reverse.each do |pair| %>
                <% name = pair[0] %>
                <% user = @game_ratings[name] %>
                <% bgg = @bgg_ratings[name] %>
                <% difference = pair[1] %>
                <tr>
                    <td><%= @links[name].html_safe %></td>
                    <td><%= number_with_precision(user, precision: 1) %></td>
                    <td><%= number_with_precision(bgg, precision: 1) %></td>
                    <td><%= number_with_precision(difference, precision: 3) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% end %>

