<% if @plays_sorted.length > 0 %>
    <div class="col-sm-12">
        <h2>Plays of rated games</h2>
        <p>
            <%= @username %> has logged <%= pluralize(@plays, "play") %> of rated games.
        </p>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <%= render 'bgg/weighted' %>
            <div class="col-sm-12">
                <p>
                    The average rating of <%= @username %>'s plays is <%= number_with_precision(@weighted_mean, precision: 3) %>.
                    This does not account for logged plays of games that have not been rated.
                </p>
                <p>
                    <% difference = @weighted_mean - @mean %>
                    Weighted by plays, the average rating is 
                    <%= number_with_precision(difference.abs, precision:3) %>
                    <% if difference > 0 %>
                        greater than
                    <% else %>
                        less than
                    <% end %>
                    <%= @username %>'s average rating.
                </p>
                <p>
                    The standard deviation is <%= number_with_precision(@weighted_stddev, precision: 3) %>.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h3>Most frequently played</h3>
        <p>(Games with fewer than 3 plays filtered)</p>
        <table class='table'>
        <thead><tr><th>Game</th><th>Plays</th><th>Rating</th></tr></thead>
        <tbody>
            <% @plays_sorted.select{|pair| pair[1] > 2}.each do |pair| %>
                <% name = pair[0] %>
                <% plays = pair[1] %>
                <% rating = @game_ratings[name] %>
                <tr>
                    <td><%= name %></td>
                    <td><%= plays %></td>
                    <td><%= rating %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
<% end %>
