    <div class="col-sm-12">
        <h2>Rating Distribution</h2>
        <canvas id='chart'></canvas>
        <script>
            var ctx = document.getElementById("chart").getContext("2d");
            var chart = new Chart(ctx, {
                type: 'bar',

                data: {
                    labels: <%= @ratings.keys.to_s %>,
                    datasets: [{
                        type: "line",
                        label: "User Distribution",
                        data: <%= NormalHelper::Normal.new(@mean, @stddev, @ratings.values.map{|gs| gs.length}.max).to_s %>,
                        borderColor: '#405898'
                    }, {
                        type: "line",
                        label: "BGG Distribution",
                        data: <%= NormalHelper::Normal.new(@bgg_mean, @bgg_stddev, @ratings.values.map{|gs| gs.length}.max).to_s %>,
                        borderColor: '#ff6699'
                    }, {
                        label: "Number of games ranked",
                        data: <%= @ratings.values.map{|gs| gs.length}.to_s %>,
                        backgroundColor: [
                            '#9999ff',
                            '#ff0000',
                            '#ff3366',
                            '#ff6699',
                            '#ff66cc',
                            '#cc99ff',
                            '#9999ff',
                            '#99ffff',
                            '#66ff99',
                            '#33cc99',
                            '#00cc00'
                        ],
                        borderColor: [
                            '#9999ff',
                            '#ff0000',
                            '#ff3366',
                            '#ff6699',
                            '#ff66cc',
                            '#cc99ff',
                            '#9999ff',
                            '#99ffff',
                            '#66ff99',
                            '#33cc99',
                            '#00cc00'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        </script>
    </div>
