<% if @n > 0 %>
    <div class="col-sm-12">
        <p>
            <%= @username %> has rated <%= pluralize(@n, "game") %>.
            <%= @username %>'s median rating is <%= @median %>.
        </p>
        <p>
            <%= @username %>'s average rating is <%= number_with_precision(@mean, precision: 3) %>.
            Of the games rated by <%= @username %>, BGG's average rating is <%= number_with_precision(@bgg_mean, precision: 3) %>.
            The difference is <%= number_with_precision(@mean - @bgg_mean, precision: 3) %>.
        </p>
        <p>
            The standard deviation of <%= @username %>'s ratings is <%= number_with_precision(@stddev, precision: 3) %>.
            BGG's standard deviation on those games is <%= number_with_precision(@bgg_stddev, precision: 3) %>.
            The difference is <%= number_with_precision(@stddev - @bgg_stddev, precision: 3) %>.
        </p>

    </div>
<% end %>
