<%= render 'bgg/form' %>
<% if @error %>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning">
                <%= @error %>
            </div>
        </div>
    </div>
<% else %>

    <div class="row">
        <div class="col-sm-12">
            <h1>BGG Collection for <%= @username %></h1>
        </div>
        <% unless @message.blank? %>
            <div class="col-sm-12">
                <div class="alert alert-info">
                    <%= @message %>
                </div>
            </div>
        <% end %>
        <div class="col-sm-8">
            <div class="row">
                <%= render 'bgg/ratings' %>
                <%= render 'bgg/ratings_summary' %>
                <%= render 'bgg/outliers' %>
            </div>
        </div>
        <div class="col-sm-4">
            <%= render 'bgg/games_by_rating' %>
        </div>
    </div>
    <div class="row">
        <%= render 'bgg/plays' %>
    </div>
<% end %>
