// Place all the styles related to the bgg controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating-1 {
    background-color: #000000;
}
.rating-2 {
    background-color: #000000;
}
.rating-3 {
    background-color: #ff6699;
}
.rating-4 {
    background-color: #ff66cc;
}
.rating-5 {
    background-color: #cc99ff;
}
.rating-6 {
    background-color: #9999ff;
}
.rating-7 {
    background-color: #99ffff;
}
.rating-8 {
    background-color: #66ff99;
}
.rating-9 {
    background-color: #33cc99;
}
.rating-10 {
    background-color: #00cc00;
}

